MONGODB_URI=mongodb+srv://<username>:<password>@coincasa1.2qb03jb.mongodb.net/CasaDB
JWT_SECRET="chiedi_a_me"
JWT_ACCESS_TTL='14d'
PORT=23109

APP_PUBLIC_URL=http://localhost:23109

# SMTP Gmail (mittente)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=example@gmail.com
MAIL_PASSWORD=password
MAIL_FROM="Nome Mittente"

MAIL_SECURE=false

MAIL_FROM_EMAIL=example@gmail.com
MAIL_FROM_NAME=CoinCasa