/tmp
/out-tsc

/coincasa_app_flutter_frontend
/node_modules
/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
.DS_Store
.idea/
.env

.vscode/*
/src/generated/prisma
/dist/
/.scannerwork/.sonar_lock
/.scannerwork/report-task.txt
/scripts/
