/tmp
/out-tsc
/build

/node_modules
/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
.DS_Store
.idea/
.env

.vscode/*

# Flutter generated plugin files
**/flutter/generated_plugin_registrant.cc
**/flutter/generated_plugin_registrant.h
**/flutter/generated_plugins.cmake
**/Flutter/GeneratedPluginRegistrant.swift