apiVersion: v1
kind: Secret
metadata:
  namespace: {{ .Values.namespace }}
  name:  coincasa-secrets
  labels:
    app: {{ .Values.appLabel }}
data:
  MONGODB_URI: YourMongoDbUri
  JWT_SECRET: YourJwtSecret
type: Opaque
